body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: monospace;
	background: black;
}
#camcam {
	position: fixed;
	bottom: 10px;
	left: 0;
	border: 2px solid black;
}
#leds {
	position: fixed;
	bottom: 0;
	left: 0;
}

textarea {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

#g {
	/* width: 20px; */
	z-index: 999;
	background: white;
	position: fixed;
	margin: 0;
	right: 0;
	top: 0;
}
* {user-select:none;}
